<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../statics/styles.css">
    <title>Multimedia 2 - Videos</title>
</head>

<body>
<h1>Videos de YouTube</h1>
<iframe width="853" height="480" src="https://www.youtube.com/embed/CPJsCU9CL8I" title="SI TE RÍES PIERDES NIVEL DIOS 😂🤣 [999.99 IMPOSIBLE NO REÍRSE] 🚨 Videos De Risa Muy Graciosos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="853" height="480" src="https://www.youtube.com/embed/i82xURPkLWo" title="4K HDR 60FPS ● Sniper Will Smith (Gemini Man) ● Dolby Vision ● Dolby Atmos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="853" height="480" src="https://www.youtube.com/embed/6stlCkUDG_s?list=PL4Gr5tOAPttLOY9IrWVjJlv4CtkYI5cI_" title="Sea waves &amp; beach drone video | Free HD Video - no copyright" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</body>
</html>
