<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Multimedia 3</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>

<body>
<h1>Videos</h1>

<video src="auto que asusta.mp4" controls width="500"></video>
<video src="Funny Pet Escape Compilation - Try Not To Laugh.mp4" controls width="500"></video>
<video src="VIDEOS GRACIOSOS DE PERROS Y GATOS  Si Te Ries Pierdes.mp4" controls width="500"></video>

<h1>Audios</h1>

<audio src="Rick Astley - Never Gonna Give You Up (Official Video) (4K Remaster).mp3" controls></audio>
<audio src="PSY - GANGNAM STYLE(강남스타일) MV.mp3" controls></audio>
<audio src="Grupo Marca Registrada x Victor Valverde - El Mayor De Los Ranas [Video Musical].mp3" controls></audio>

</body>
</html>
